@import 'reset.styl'
@import 'top.styl'
@import 'inputfield.styl'
@import 'card.styl'

#app
  background url('../images/bg.jpg') center center no-repeat
  background-size cover
  width 100%
  height 100vh
  overflow auto
  +mediaSp()
    height 100vh
    height 100dvh

.header
  background rgba(#fff, 0.7)
  padding 15px 0
  backdrop-filter: blur(12px)
  +mediaSp()
    padding 10px 0
  .header-inner
    width 1000px
    margin 0 auto
    +mediaSp()
      width 100%
      padding 0 15px
  .title
    text-align center
    font-family 'Noto Serif', serif
    font-display swap
    +mediaSp()
      font-size 2rem
    span
      +mediaPc()
        display inline-block
        + span
          margin-left 40px
      +mediaSp()
        display block
        line-height 1.2
.main-contents
  +mediaPc()
    min-height calc(100vh - 165px)
  +mediaSp()
    padding 0 15px
.footer
  background #000
  color #fff
  font-size 1.2rem
  text-align center
  padding 20px 0
  margin-top 80px
  +mediaSp()
    margin-top 50px
    padding 15px 0
    font-size 1rem
