.about-page
  margin-top 100px
  .about-inner
    width 1000px
    margin 0 auto
    background rgba(#000, 0.7)
    backdrop-filter: blur(12px)
    border-radius 10px
    padding 40px 30px 60px
    color #fff
    .title
      padding-bottom 15px
      border-bottom 1px solid #999
      margin-bottom 20px
    section
      .sp-text
        display none
      a
        color #fff
        text-decoration underline
        &:hover
          text-decoration none
      + section
        margin-top 40px
      line-height 1.8
    .create-button
      text-align center
      margin-top 50px
    .card-create-button
      border 0
      background #fff
      font-size 2.4rem
      padding 20px 40px
      appearance none
      border-radius 10px

.sp
  .about-page
    padding 0 20px
    .about-inner
      width 100%
      font-size 4rem
      padding 60px 30px
      p
        margin-bottom 20px
      .title
        font-size 5rem
        border-bottom-width 2px
        padding-bottom 30px
        margin-bottom 25px
      section
        .sp-text
          display block
        + section
          margin-top 80px
      .card-create-button
        font-size 5rem
        padding 50px 0
        width 100%
        border-radius 10px
        line-height 1
