.about-page
  margin-top 100px
  +mediaSp()
    margin-top 50px
  .about-inner
    width 1000px
    margin 0 auto
    background rgba(#000, 0.7)
    backdrop-filter: blur(12px)
    border-radius 10px
    padding 40px 30px 60px
    color #fff
    +mediaSp()
      width 100%
      padding 20px 15px
    .title
      padding-bottom 15px
      border-bottom 1px solid #999
      margin-bottom 20px
      +mediaSp()
        font-size 1.8rem
        margin-bottom 10px
        padding-bottom 10px
    section
      a
        color #fff
        text-decoration underline
        &:hover
          text-decoration none
      +mediaSp()
        font-size 1.6rem
        ul
          padding-left 26px
      img
        max-width 100%
      .sp-text
        +mediaPc()
          display none
      + section
        margin-top 40px
      line-height 1.8
    .create-button
      text-align center
      margin-top 50px
      +mediaSp()
        margin-top 40px
    .card-create-button
      border 0
      background #fff
      font-size 2.4rem
      padding 20px 40px
      appearance none
      border-radius 10px
      +mediaSp()
        width 100%
        font-size 1.8rem
        padding 15px 30px
